@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

* {
	margin: 0;
	padding: 0;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	background-color: #e1e2e1;
	font-family: 'Anaheim', serif !important;
	font-style: normal;
	font-weight: 400;
}

:root {
	--primary-color: #005662;
	--gray-accent: #808080;
	--primary-link: #9a98ff;
}

ul {
	list-style-position: inside;
}

a,
a:focus,
a:visited {
	text-decoration: none;
	color: var(--primary-link);
}
textarea,
input[type='text'],
input[type='password'],
input[type='date'] {
	border: none;
	background: transparent;
}

input,
select,
textarea,
button {
	font-family: inherit;
}
textarea:focus,
input:focus,
select:focus {
	outline: none;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

input[type='button'],
input[type='submit'] {
	border: none;
	outline: none;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 1.66rem;

	padding: 11px 54px 11px 54px;

	cursor: pointer;
}

.header-primary {
	font-size: 2.5rem;
	color: var(--primary-color);
}

.d-none {
	display: none !important;
}

textarea,
input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'] {
	border-radius: 2px;
	border: 1px solid #80808050;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

	width: 40%;
	height: 3rem;

	padding-left: 1rem;
}

textarea::placeholder,
input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder {
	padding-left: 0;
}

textarea::placeholder {
	height: 100%;
	text-align: center;
}

textarea,
input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder,
input[type='date'] {
	color: var(--gray-accent);
}
input::-webkit-textfield-decoration-container {
	height: 100%;
}

.primary-button {
	background: var(--primary-color);
	color: white;
}

.custom-select {
	position: relative;
	width: 100%;
}

.custom-select::after {
	content: '';
	position: absolute;
	bottom: 50%;
	right: 5%;
	width: 8px;
	height: 8px;
	transition: all 0.5s;

	border-bottom: solid 2px var(--primary-color);
	border-right: solid 2px var(--primary-color);

	transform: rotate(45deg) translateY(50%);
}

.custom-select select {
	-webkit-appearance: none;
	padding: 12px 40px 12px 18px;
	width: 100%;
	border: 1px solid var(--gray-accent);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.5rem;
	transition: all 150ms ease;
}

.key-value {
	display: grid;
	flex-direction: row;
	grid-template-columns: minmax(100px, max-content) 1fr;

	font-size: 1rem;
	color: var(--gray-accent);
}

.key-value *:nth-child(2) {
	color: black;

	font-size: 1.5rem;
}

.grid-item-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.error {
	font-size: 1.5rem;
	color: rgb(253, 40, 40);
}

.align-self-center {
	align-self: center;
}

.small-print {
	font-size: 1.35rem;
	color: var(--gray-accent);
}

.fav {
	background-size: contain;
	background-repeat: no-repeat;
	width: 21px;
	height: 17px;
	cursor: pointer;

	transition: background-image 0.25s ease-in, transform 0.25s ease-in;
}

.not-favorite {
	background-image: url('/public/assets/Not-favorite.svg');
}

.favorite {
	background-image: url('/public/assets/Favorite.svg');
}

.fav:hover {
	transform: scale(125%);
}

.pointer {
	cursor: pointer;
}

.mt-5 {
	margin-top: 5rem;
}

.pt-5 {
	padding-top: 5rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}
