@import url("https://fonts.googleapis.com/css2?family=Anaheim&display=swap");

* {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	background-color: #e1e2e1;
	font-family: "Anaheim", serif !important;
	font-style: normal;
	font-weight: 400;
}

:root {
	--primary-color: #005662;
	--gray-accent: #808080;
	--primary-link: #9a98ff;
}

a,
a:focus,
a:visited {
	text-decoration: none;
	color: var(--primary-link);
}

input[type="text"] {
	border: none;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

input:focus,
select:focus {
	outline: none;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

input[type="button"],
input[type="submit"] {
	border: none;
	outline: none;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 1.66rem;

	padding: 11px 54px 11px 54px;

	cursor: pointer;
}

.header-primary {
	font-size: 2.5rem;
	color: var(--primary-color);
}

.d-none {
	display: none;
}

input[type="text"],
input[type="number"] {
	border-radius: 2px;
	border: 1px solid #80808050;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

	width: 40%;
	height: 3rem;

	padding-left: 1rem;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
	padding-left: 0rem;
}

input::-webkit-textfield-decoration-container {
	height: 100%;
}

.primary-button {
	background: var(--primary-color);
	color: white;
}

.custom-select {
	position: relative;
	width: 100%;
}

.custom-select::after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: 5%;
	width: 8px;
	height: 8px;
	transition: all 0.5s;

	border-bottom: solid 2px var(--primary-color);
	border-right: solid 2px var(--primary-color);

	transform: rotate(45deg) translateY(50%);
}

.custom-select select {
	-webkit-appearance: none;
	padding: 12px 40px 12px 18px;
	width: 100%;
	border: 1px solid var(--gray-accent);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.5rem;
	transition: all 150ms ease;
}

.key-value {
	display: grid;
	flex-direction: row;
	grid-template-columns: minmax(100px, max-content) 1fr;

	font-size: 1.2rem;
}

.key-value *:nth-child(2) {
	color: black;

	font-size: 1.5rem;
}

.grid-item-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vertical-align {
	display: flex;
	align-items: center;
}
