#modal-mask {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.6);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-mask > #modal-container {
    background: white;

    height: 40rem;
    width: 80rem;

    border-radius: 10px;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    align-items: center;
}

#modal-mask > #modal-container > #modal-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
