<div id='modal-mask' class='d-none'>
    <div id='modal-container'>
        <div id='modal-header'></div>
        <div id='modal-body'></div>
        <div id='modal-bottom'>
            <input id='modal-left-button' type='button' value='Nie'>
            <input id='modal-right-button' type='button' value='Tak' class="primary-button">
        </div>
    </div>
</div>