<div id='add-movie-container'>
    <div id='add-movie-header'>
        <%= typeof movie === 'undefined' ? 'Dodawanie' : 'Edycja' %> filmu
    </div>
    <div id='add-movie-body'>
        <input type='text' placeholder='Tytuł' />
        <input type='text' placeholder='Reżyser' />
        <input type='text' placeholder='Gatunek' />
        <input type='text' placeholder='Kraj produkcji' />
        <input type='date' placeholder='Data premiery (YYYY-MM-DD)' />
        <textarea maxlength='2000' placeholder='Opis' id="add-movie-description"></textarea>
        <div id='add-movie-actors'>
            <div>Aktorzy</div>
            <ul id='add-movie-actors-list'>
                <li>Aktor 1111</li>
                <li>Aktor 2</li>
            </ul>
        </div>

    </div>
</div>
