<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=0.86, maximum-scale=1.0, minimum-scale=1">
    <link rel="stylesheet" href="/public/style/global.css">
    <link rel="stylesheet" href="/public/style/index.css">
    <link rel="stylesheet" href="/public/style/slider.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <title>FilmDB</title>
</head>
<body>
<header>
    <div class="frame" id="header">
        <div id="logo">
            <span id="logo-title" class="primary-color vertical-align">FilmDB</span>
            <figure>
                <img src="/public/assets/Logo.svg" alt="Logo" class="vertical-align" id="logo-img">
            </figure>
        </div>
        <div class="search-container vertical-align">
            <img id="search-icon" src="/public/assets/Search.svg" alt="Search">
            <span class="search">Szukaj filmów</span>
        </div>
        <div class="login vertical-align">
            Login
            <img id="login-icon" src="/public/assets/Login.svg" alt="Login">
        </div>
    </div>
</header>
<main>
    <div class="frame-2">
        <div class="filter-container">
            <div class="filters">
                <div class="release-year border grid-item-center">
                    <p>
                    <div>Rok premiery: <span id="production-year"></span></div>
                    </p>
                    <div class="slider-range" id="production-year-slider"></div>
                </div>

                <div class="date-added border grid-item-center">
                    <p>
                    <div>Data dodania: <span id="add-date"></span></div>
                    </p>
                    <div class="slider-range" id="add-date-slider"></div>
                </div>
                <div class="lists">
                    <label for="film-genre" class="custom-select">
                        <select id="film-genre">
                            <option value="" hidden>Gatunek</option>
                            <option value="all">Wszystkie</option>
                            <option value="horror">Horror</option>
                            <option value="thriller">Thriller</option>
                            <option value="romans">Romans</option>
                            <option value="przygodowy">Przygodowy</option>
                            <option value="kryminał">Kryminał</option>
                        </select>
                    </label>
                    <label for="country-production" class="custom-select">
                        <select id="country-production">
                            <option value="" hidden>Kraj produkcji</option>
                            <option value="all">Wszystkie</option>
                            <option value="pl">Polska</option>
                            <option value="us">Stany Zjednoczone</option>
                            <option value="gb">Wielka Brytania</option>
                        </select>
                    </label>
                </div>
                <div class="buttons">
                    <input type="button" value="Reset" id="reset">
                    <input type="button" value="Filtruj" id="filter">
                </div>
            </div>
        </div>
        <div id="movies-list"></div>
    </div>
</main>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="../src/js/index.js" defer type="module"></script>
</html>