<div id="login-container">
    <form id="login-form">
            <span class="header-primary">
                <%= translations.title %>
            </span>
            <input type="text" placeholder="Login*"></input>
            <input type="text" placeholder="Hasło*"></input>
            <a href="<%= translations.href %>">
                <%= translations.hrefText %>
            </a>
            <input id="login-button" type="submit" value="<%= translations.buttonText %>" class="primary-button">
    </form>
</div>